* {
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url("../Pictures/Pictures1.jpg"); 
  font-family: Bella MT Bold;
  text-align: center;
}

header {
  font-family: Bella Mt Bold;
  background: linear-gradient(
    to left,
    #FB8DA0, #F90067, #FB5490, #FBC0C0
  );
  padding: 30px;
  text-align: center;
  
}
header img.round-small-image{
  width:100px;
  height:60px;
  
  object-fit: cover;
}

header h1 {
  margin: 0;
}

#about img {
  width: 150px;
  height: 160px;
  border-radius: 0%;
  object-fit: cover;
  margin-top: 20px;
}

#skills ul {
  list-style-type: none;
  display: flex;
  font-family: Bella MT Bold;
  padding: -5px ;
  justify-content: center;
}

kl{
  font-family: Bella MT Bold;
  }

#skills li {
  margin-bottom: 10px;
 padding: 5px 5px;
}


.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 70px;

}

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0px;
   margin: auto;
  border-radius: 8px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #FB8DA0, #F90067, #FB5490, #FBC0C0);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  padding: 10px;
  width: 20%;
  background: linear-gradient(-45deg,#FB8DA0, #F90067, #FB5490, #FBC0C0);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #FB5490;
  font-weight: 600;
}



.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}



.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding:26px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

a{
  color: #F90067;
  text-decoration: none;
}

button {
  position: relative;
  padding: 12px 35px;
 background-color: #020202;
  font-size: 17px;
  font-weight: 500;
  color: #F90067;
  border: 2px solid #020202;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #F90067);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #F90067;
  box-shadow: 0 0 25px #FBC0C0;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}




#contact {
  text-align: center;
  
}

footer {
  font-family: Bella MT Bold;
  background: linear-gradient(
    to left,
    #FB8DA0, #F90067, #FB5490, #FBC0C0
  );
  padding: 20px;
  text-align: center;
  width: 40cm;
}